<div class="wrap">

  <ul class="cf">
    <li class="image_area"><%= user_profile_img(@user) %></li>
    <li  class="name_area"><%= @user.name %>さんが投稿した写真</li>
  </ul>

<br>

<% @pictures.each do |picture| %>
  <br>
  <p><%= image_tag picture.image.url %></p>
  <p>タイトル:<%= picture.title %></p>
  <p><%= picture.content %></p>
<% end %>
  </div>
